<div class="faq">
  <div class="content_container">
    <div class="main_container">
      <h1 class="head">F.A.Q. Ответы на частые вопросы</h1>
      <h2 class="subhead">
        Ниже вы найдете ответы на наиболее распространенные вопросы о нашем
        сервисе
      </h2>
      <h3 class="main_termins">Основные термины</h3>
      <p class="place">
        Целевое место -
        <span class="description">
          рекламное место, на котором хотим находиться. MP Tool будет повышать и
          понижать ставки, чтобы оставаться на целевом месте и не опускаться
          ниже “Минимальной позиции”.
        </span>
      </p>
      <p class="termin">
        Минимальная позиция -
        <span class="description">
          позиция ниже которой ваша рекламная кампания не опустится, и
          автоматически произойдет отключение если конкуренты вытолкнут вас.
        </span>
      </p>
      <p class="termin">
        Максимальная ставка -
        <span class="description">
          максимальная ставка, которую вы готовы платить за целевое место. Если
          конкуренты повысят или понизят ставки, то MP Tool автоматически будет
          перемещать но не ниже чем “Минимальная позиция”.
        </span>
      </p>
      <h4>“Реальные ставки”</h4>
      <span class="font">
        По некоторым тематикам ставки в кабинете WB отличаются от реальных
        ставок, которые используются пользователями. Поэтому если включить
        реальные ставки, то MP Tool начнет управлять рекламной кампанией на
        основе реальных данных по ставкам из выдачи WB.
      </span>
      <ul>
        Чтобы активировать функционал “Реальные ставки”, необходимо:
        <li>- Нажать на “Включить реальные ставки”</li>
        <li>
          - Далее на основе реальных данных можете принять решение по настройке
          целевого места и максимальной ставки. После нажатия кнопки
          “Сохранить”. Если поле “Ключевая фраза” осталось пустым, можно
          воспользоваться “Автоматической выборкой ставки с помощью
          искусственного интеллекта”
        </li>
        <li>
          - Искусственный интеллект автоматически подберет ключевые слова.
        </li>
      </ul>
    </div>
  </div>
  <div class="buttons_container"></div>
</div>
