<div class="login_container">
    <div class="login_form shadow(1)">
        <div class="tui-container">
            <form [formGroup]="loginForm">
                <div style="width: 460px" class="tui-row tui-row_sme">
                    <div class="tui-col_12">
                        <h3 class="tui-form__header tui-form__header_margin-top_none">Авторизация</h3>
                        <div class="tui-form__row">
                            <tui-input
                                tuiTextfieldExampleText="Field placeholder"
                                formControlName="emailValue"
                                tuiHintContent="A tooltip"
                            >
                                Textfield
                                <span class="tui-required"></span>
                            </tui-input>
                            <tui-error
                                formControlName="emailValue"
                                [error]="[] | tuiFieldError | async"
                            ></tui-error>
                        </div>
                        <div class="tui-form__row">
                            <tui-input-password formControlName="passwordValue">Input password</tui-input-password>
                                <tui-error
                                    formControlName="passwordValue"
                                    [error]="[] | tuiFieldError | async"
                                ></tui-error>
                        </div>
                        <div class="tui-form__buttons">
                            <button
                                tuiButton
                                size="l"
                                type="submit"
                                class="tui-form__button"
                            >
                                Войти
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div> 
    </div>
</div>