<div class="review-modal">
  <div class="wrapper">
    <form class="b-form" [formGroup]="form">
      <h1>Оставить отзыв</h1>

      <h1>{{ skuName }}</h1>

      <tui-input tuiTextfieldSize="m" class="b-form" formControlName="sku">
        Артикул
        <input tuiTextfield />
      </tui-input>

      <div class="ransom">
        <h2>Укажите выкуп</h2>
        <tui-select
        [class.red-border]="!form.get('ransom')?.valid"
        tuiTextfieldSize="m"
          [tuiTextfieldLabelOutside]="true"
          [(ngModel)]="ransom"
          formControlName="ransom"
        >
          Укажите выкуп
          <input tuiTextfield placeholder="Укажите выкуп" />
          <ng-template tuiDataList>
            <tui-data-list>
              <button
                *ngFor="let ransom of ransomsDict"
                tuiOption
                [value]="ransom.id"
              >
                {{ ransom.name }}
              </button>
            </tui-data-list>
          </ng-template>
        </tui-select>
      </div>
      <div class="date">
        <h2>Запланировать отзыв</h2>

        <tui-input-date class="b-form" formControlName="date">
          Выберите дату публикации отзыва
        </tui-input-date>

        <br />
      </div>
      <div class="time">
        <tui-input-time
          toNativeDate
          class="b-form"
          formControlName="time"
          timeMode="HH:MM"
        >
          Выберите время публикации отзыва
        </tui-input-time>
      </div>
      <div class="feedback">
        <h2>Отзыв о товаре (необязательно)</h2>
        <tui-text-area formControlName="feedback">
          Например, отличный чехол (до 1000 символов)
          <textarea tuiTextfield minLength="10" maxlength="1000"></textarea>
        </tui-text-area>
      </div>
      <div class="sex">
        <h2>Пол в отзыве (Обязательно)</h2>
        <tui-select
          [class.red-border]="!form.get('sex')?.valid"
          tuiTextfieldSize="m"
          [tuiTextfieldLabelOutside]="true"
          formControlName="sex"
        >
          <tui-data-list-wrapper
            *tuiDataList
            [items]="sexDict"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>
      <div *ngIf="sized" class="size">
        <h2>
          Размер (Если у товара отсутствует размер, либо он соответствует
          размеру, выставьте "Cоответствует размеру")
        </h2>
        <tui-select
          tuiTextfieldSize="l"
          [tuiTextfieldLabelOutside]="true"
          [(ngModel)]="size_match"
          formControlName="size_match"
        >
          <ng-template tuiDataList>
            <tui-data-list>
              <button
                *ngFor="let size of sizeDict"
                tuiOption
                [value]="size.value"
              >
                {{ size.name }}
              </button>
            </tui-data-list>
          </ng-template>
        </tui-select>
      </div>
      <div class="rating_info">
        <h2>Рейтинг</h2>
        <tui-rating formControlName="rating" class="rating"></tui-rating>
      </div>
      <div class="photo">
        <h2>Добавьте фото товара</h2>

        <p>Общий размер загружаемых фото - 10Мб</p>

        <div class="photo_placeholder">
          <tui-input-files
            accept="image/*"
            [multiple]="true"
            [formControl]="control"
            (reject)="onReject($event)"
            (ngModelChange)="checkFiles($event)"
          ></tui-input-files>

          <tui-files class="tui-space_top-1">
            <tui-file
              *ngFor="let file of control.valueChanges | async; index as idx"
              [file]="file"
              [showDelete]="control.enabled"
              (removed)="removeFile(file, idx)"
            ></tui-file>

            <tui-file
              *ngFor="let file of rejectedFiles"
              state="error"
              [file]="file"
              [showDelete]="control.enabled"
              (removed)="clearRejected(file)"
            ></tui-file>
          </tui-files>
          <!-- <img class="image_preview"
                      *ngFor="let item of photos"
                      style="width: 70px; height: 70px"
                      [src]="item"
                  />  -->
          <tui-error
            [formControl]="control"
            [error]="['maxLength'] | tuiFieldError | async"
          ></tui-error>
        </div>
      </div>
    </form>
    <div class="buttons_container">
      <button
        tuiButton
        size="m"
        type="button"
        appearance="secondary"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)="context.completeWith(false)"
      >
        Отмена
      </button>
      <button
        [disabled]="!validateByAvailable"
        tuiButton
        (click)="newReviewPost()"
        size="m"
        type="button"
        appearance="primary"
        class="tui-space_right-3 tui-space_bottom-3"
      >
        Отправить
      </button>
    </div>
  </div>
</div>
