<div class="fullpage">
    <div class="page1">
        <div class="Head">
               <div class="logo_section">  
                   <img src="../../assets/img/logo.png" class="logo1" alt="logo">
               </div>
               <div class="navigationbar">
                   <div class="navigation">
                    <span class="navbutton">Телеграм</span>
                    <span  class="navbutton">Текст</span>
                    <span  class="navbutton">Тарифы</span>
                    <span  class="navbutton">Вход</span>
                </div>
                <div class="registration_main">
                    <span class="regbutton">Регистрация</span> 
                </div>
               </div>
           </div> 
         
            <div class="mainsection1">
                <div class="sectionleft">
                    <br>
                    <br>
                    <h1>MpTool</h1>
                    <br>
                    <h2>Автоматизируйте рекламу на Wildberries.
                        <br>Пусть деньги зарабатывают себя сами.<br>
                        MpTool — эффективное и эффектное решение для продавцов. 
                        </h2>
                    <h3 class="learnmore">&nbsp;Узнать больше</h3>
                </div>
                <div class="sectionright">
                    <div class="videosection">
                        <div class="videoplaceholder"></div>
                    </div>
                </div>
            </div>
    </div>
        <div class="page2">
            <div class="container_page2">
                <div class="head_page2">
                    <img src="../../assets/img/logo.png" class="logo1" alt="logo">
                </div>
                <button class="exit_button">Выход</button>
            </div>
            <div class="mainsection_page2">
                <div class="registration_form">
                    <h2 class="registration">Регистрация</h2>
                    <div class="reg_incard">
                        <input placeholder="   Имя" tabindex="1" name="username" type="text" class="user_name" />
                        <input placeholder="   Пароль" tabindex="2" name="userpass" type="password"  class="userpassword" />
                    </div>
                    <h4 class="Avatar">Avatar</h4>
                    <img src="../../assets/landing/PhotoActions.svg" alt="Avatar" class=avatar_button_placeholder>
                </div>
            </div>
        </div>
        <div class="container_page3">
            <div class="head_page3">
                <img src="../../assets/img/logo.png" class="logo1" alt="logo"> 
            </div>
            <div class="mainsection_page3">
                <div class="page3_content">
                    <h2 class="for_users">Для уже зарегистрированных пользователей:</h2>
                    <div class="welcome_form">
                        <div class="card_frame">
                            <h2 class="welcome"><br>Добро пожаловать</h2>
                            <h2 class="accounts">Аккаунты:</h2>
                            <div class="acc_card">
                                <div class="card_left">
                                    <div class="card_block"></div>
                                    <div class="card_block"></div>
                                </div>
                                <div class="card_right">
                                    <div class="card_block"></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</div>
<div class="page4_frame">
    <div class="page4">
        <div class="sectionleft">
            <h2 class="text_placeholder1">На что способен MpTool?</h2>
            <div class="content_placeholder">
                Показ реальных ставок по рекламе по каждому ключевому запросу. Уже одно это экономит вам 30-60% рекламного бюджета
            </div>
        </div>
        <div class="sectionright">
            <div class="description_of_features"> Автоматическое управление рекламой. Укажите желаемое место с оглядкой на реальные ставки и смотрите, как сервис повышает эффективность вашей рекламы и поднимает вас в выдаче. Больше не надо менять ставку вручную, это сделает MpTool.</div>
            <div class="description_of_features">Бот, который делает всю работу за вас. Он умеет: рассчитывать необходимую сумму самовыкупов для попадания на ту или иную позицию; отслеживать цены конкурентов и присылать уведомление, когда они изменятся; автоматически рассчитывать поставку исходя из текущего темпа продаж; отслеживать позиции в ранжировании по различным запросам; считать, сколько оценок нужно накрутить для того или иного рейтинга карточки. Вы вводите свои запросы — бот ежедневно их мониторит и присылает вам отчеты. </div>
        </div>
    </div>
</div>
<div class="page5">
    <h4 class="Service_features">Возможности сервиса</h4>
    <div class="page5_content">
        <div class="page5_section_left">
            <div class="animated_content_placeholder">Место для контента
                возможно с анимацией</div>
        </div>
        <div class="page5_section_right">
            <h4 class="page5_description">Заголовок</h4>
            <h4 class="description_of_features_p5">Раздел с описанием возможностей сервиса в текстовом формате (Основной текст)</h4>
        </div>
    </div>
</div>
<div class="page6">
    <div class="page6_content">
        <h4 class="FAQ">Часто задаваемые вопросы:</h4>
        <div class="FAQ_boxes">
            <div class="faqboxes_left">
                <tui-accordion class="container">
                    <tui-accordion-item>
                        Taiga UI cdk
                        <ng-template tuiAccordionItemContent>
                            Development kit consisting of the low level tools and abstractions used to develop Taiga UI Angular entities
                        </ng-template>
                    </tui-accordion-item>
                    <tui-accordion-item>
                        Taiga UI core
                        <ng-template tuiAccordionItemContent>
                            <div #content>
                                Basic elements needed to develop components, directives and more using Taiga UI design system
                            </div>
                        </ng-template>
                    </tui-accordion-item>
                    <tui-accordion-item>
                        Taiga UI kit
                        <ng-template tuiAccordionItemContent>
                            The main set of components used to build Taiga UI based Angular applications
                        </ng-template>
                    </tui-accordion-item>
                </tui-accordion>
            </div>
            <div class="faqboxes_right">
                <tui-accordion class="container">
                    <tui-accordion-item>
                        Taiga UI cdk
                        <ng-template tuiAccordionItemContent>
                            Development kit consisting of the low level tools and abstractions used to develop Taiga UI Angular entities
                        </ng-template>
                    </tui-accordion-item>
                    <tui-accordion-item>
                        Taiga UI core
                        <ng-template tuiAccordionItemContent>
                            <div #content>
                                Basic elements needed to develop components, directives and more using Taiga UI design system
                            </div>
                        </ng-template>
                    </tui-accordion-item>
                    <tui-accordion-item>
                        Taiga UI kit
                        <ng-template tuiAccordionItemContent>
                            The main set of components used to build Taiga UI based Angular applications
                        </ng-template>
                    </tui-accordion-item>
                </tui-accordion>
            </div>
        </div>
    </div>
</div>
<div class="page8">
    <div class="page8_head">
        <h4 class="three_reasons">3 причины использовать MPTool<br> 
            прямо сейчас</h4>
    </div>
    <div class="page8_content">
        <div class="content_block_p8"></div>
        <div class="content_block_p8"></div>
        <div class="content_block_p8"></div>
    </div>
    <h4 class="animation_placeholder">Анимация текст появляется<br>&nbsp;&nbsp;&nbsp; при нажатии
        на кнопку</h4>
</div>
<section id="reviews">
    <div class="reviews__container">
        <div class="reviews__wrapper">
            <div class="reviews-content">
                <h2>Отзывы</h2>
                <div tuiCarouselButtons class="wrapper">
                     <button tuiIconButton icon="tuiIconChevronLeftLarge" title="Previous"
                        (click)="carousel.prev()"></button> 
                    <tui-carousel [itemsCount]="3" [duration]="4000" #carousel class="carousel">
                        
                        <ng-container *ngFor="let item of items">
                            <tui-island *tuiItem>
                                <div style="display: flex; align-items: center; margin-bottom: 1rem">
                                <tui-avatar
                                class="tui-space_top-1"
                                [avatarUrl]="item.avatar"
                            ></tui-avatar>
                                <h2 style="margin: 0 0 0 1rem" class="tui-island__title">{{item.name}}</h2>
                            </div>
                                <p>
                                    {{item.decription}}
                                </p>
                                <div>
                                    <button tuiButton appearance="primary">
                                        Buy $
                                    </button>
                                    <button tuiButton class="tui-space_left-2">
                                        Rent $
                                    </button>
                                </div>
                            </tui-island>
                           
                        </ng-container>

                       <!--  <tui-island *tuiItem>
                            <h2 class="tui-island__title">Monty Python and the Holy Grail</h2>
                            <p>
                                King Arthur and his Knights of the Round Table embark on a surreal, low-budget search
                                for
                                the Holy
                                Grail, encountering many, very silly obstacles.
                            </p>
                            <div>
                                <button tuiButton appearance="primary">
                                    Buy $
                                </button>
                                <button tuiButton class="tui-space_left-2">
                                    Rent $
                                </button>
                            </div>
                        </tui-island> -->
                    </tui-carousel>
                     <button tuiIconButton icon="tuiIconChevronRightLarge" title="Next"
                        (click)="carousel.next()"></button> 
                </div>
                <!-- <div class="reviews-pagination">
                    <tui-pagination size="s" class="pagination" [length]="items.length" [(index)]="index">
                    </tui-pagination>
                </div> -->
            </div>
        </div>
    </div>
</section>
<section id="tariffs">
    <div class="tariffs-container">
    <app-tariffs></app-tariffs>
</div>
</section>