.table {
	width: 100%;
}
.filters {
	display: flex;
    margin: 0.5rem 0 1rem 0;
}

.filters:last-child {
    margin-right: 0;
}

.filters > * {
    margin-right: 1rem;
}

.filters span {
    font-size: large;
    margin-top: 0.8rem;
    font-weight: 500;
}
.input {
	flex: 1;
}
.columns {
	width: 10.625rem;
}
.match {
	background: var(--tui-selection);
}



.table_container {
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 16px;
    width: auto;
}

.table_container table {
    width: 100%;
}

tbody, th, td {
    border-color: transparent;
}

th {
    color: #2C7A77;
    background: rgba(86, 180, 176, 0.24);
}

tr:nth-child(even) td {
    background: rgba(86, 180, 176, 0.24);
}

.tag {
    margin: 0.25rem;
}
.light-mode {
    display: inline-block;
    background-color: #454e58;
}
.dark-mode {
    display: inline-block;
    margin-left: 0.25rem;
    background-color: #e5e7ea;
}
.support-20 {
    background-color: var(--tui-support-20, var(--tui-support-020));
}
.support-19 {
    background-color: var(--tui-support-19, var(--tui-support-019));
}
.support-18 {
    background-color: var(--tui-support-18, var(--tui-support-018));
}
.support-17 {
    background-color: var(--tui-support-17, var(--tui-support-017));
}
.support-16 {
    background-color: var(--tui-support-16, var(--tui-support-016));
}
.support-15 {
    background-color: var(--tui-support-15, var(--tui-support-015));
}
.support-14 {
    background-color: var(--tui-support-14, var(--tui-support-014));
}
.support-13 {
    background-color: var(--tui-support-13, var(--tui-support-013));
}
.support-12 {
    background-color: var(--tui-support-12, var(--tui-support-012));
}
.support-11 {
    background-color: var(--tui-support-11, var(--tui-support-011));
}
.support-10 {
    background-color: var(--tui-support-10, var(--tui-support-010));
}
.support-9 {
    background-color: var(--tui-support-9, var(--tui-support-09));
}
.support-8 {
    background-color: var(--tui-support-8, var(--tui-support-08));
}
.support-7 {
    background-color: var(--tui-support-7, var(--tui-support-07));
}
.support-6 {
    background-color: var(--tui-support-6, var(--tui-support-06));
}
.support-5 {
    background-color: var(--tui-support-5, var(--tui-support-05));
}
.support-4 {
    background-color: var(--tui-support-4, var(--tui-support-04));
}
.support-3 {
    background-color: var(--tui-support-3, var(--tui-support-03));
}
.support-2 {
    background-color: var(--tui-support-2, var(--tui-support-02));
}
.support-1 {
    background-color: var(--tui-support-1, var(--tui-support-01));
}