.app_container {
  height: max-content;
}

.main_container {
  display: flex;
}

.content_container {
  height: max-content;
  width: 100%;
}

.sidenav {
  background-color: #434242;
  min-height: 100vh;
}

.toolbar_logo {
  padding: 20px;
  width: 135px;
  cursor: pointer;
}

.logo_wrapper{
  display: flex;
}

.bell{
  margin-top: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }
}
