.app_container {
    width: 100vw;
    background-color: #D6EDEC;
}

.main_container {
    display: flex;
}

.content_container {
    height: calc(100vh - 84px - 4rem);
    padding: 1rem 0;
    width: 100%;
}