.tui-space_right-3 {
  width: 10rem;
  height: 33px;
}
.section_left {
  margin-bottom: 1rem;
}
.main_container {
  width: auto;
  overflow-y: scroll;
}
.selfransom_wildberries {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #2c7a77;
}
.add_selfransom {
  width: 23rem;
  margin-top: 1rem;
  padding-right: 2rem;
}
tui-tabs-with-more {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #000000;
}
.card_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}
.noсards-placeholder {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.completed {
  color: red;
}
.paid {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Completed_buyouts {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 100%;
  border: 1px solid #e6e6e6;
  margin-top: 1rem;
}

.pagination-container {
  margin: 1rem auto;
}

.tui-island__paragraph {
  display: flex;
  align-items: center;
}

.header_buttons {
  width: 60rem;
  display: flex;
  justify-content: space-between;
}

.header_button {
  width: 180px;
  height: 35px;
  border: 1px solid #2c7a77;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.rev span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.rev {
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #2c7a77;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.modal_header {
  text-align: center;
  width: 500px;
  height: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.modal_middle {
  width: 500px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 0.5rem;
}

.cancel {
  width: 147px;
  height: 42px;
  padding-right: 1rem;
}

.pay {
  width: 147px;
}

.button_container {
  margin-top: 2rem;
  width: 500px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
}

.video_container {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.search-button {
  height: 43px;
}

.searchbar tui-input {
  width: 25rem;
}
.excel_button {
  margin-top: 1rem;
}

.excel_uploading {
  margin-top: 1rem;
  margin-left: 1rem;
}

.button_container button {
  width: 16.4rem;
}

tui-input-files {
  margin-top: 2rem;
}
tui-select {
  margin-top: 1rem;
}

.save_as {
  width: 100%;
  margin-top: 1rem;
}

.excel_cancel {
  width: 100%;
  margin-top: 1rem;
}

tui-select {
  margin-top: 1rem;
}

.save_as {
  width: 100%;
  margin-top: 1rem;
}

.excel_cancel {
  width: 100%;
  margin-top: 1rem;
}

.guide {
  margin: 1rem 0 0 1rem;
  padding: 0;
}
.hello {
  text-align: center;
}
.hello_description {
  text-align: center;
  font-size: 17px;
  padding-bottom: 1rem;
}
.hello_img {
  height: 25rem;
  margin-left: 15%;
}
.guide_button {
  width: 100%;
  margin-top: 1rem;
}
.decline {
  text-align: center;
  color: red;
  text-decoration: underline;
  margin-top: 2rem;
  cursor: pointer;
}
.red-popover-bg {
  background-color: red;
  color: white; /* Чтобы текст был хорошо виден на красном фоне */
}
.search_buttons {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}
.search {
  width: 10rem;
}
.clear {
  width: 10rem;
}
.action_buttons{
  width: auto;
}

@media screen and (max-width: 768px) {
  .main_container {
    width: auto;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0;
    overflow: hidden;
  }
  .add_selfransom {
    width: 105%;
  }

  .searchbar {
    display: block;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
  }
  .searchbar tui-input {
    width: 98%;
  }
  .search_buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    margin-left: 0rem;
  }
  .search {
    width: 47%;
  }
  .clear {
    width: 47%;
  }
}
