<div class="table-filters_container">
  <div class="table-filters-left">
    <form class="b-form" [formGroup]="filtersBind">
      <tui-select
        tuiTextfieldSize="m"
        *tuiLet="accounts as items"
        [tuiTextfieldLabelOutside]="true"
        [valueContent]="items ? stringify(items) : loading"
        formControlName="account"
      >
        <ng-template tuiDataList>
          <tui-data-list *ngIf="items; else loading">
            <button *ngFor="let item of items" tuiOption [value]="item.lk_id">
              {{ item.company_name }}
            </button>
          </tui-data-list>
        </ng-template>
        <ng-template #loading>
          <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
        </ng-template>
      </tui-select>
    </form>
  </div>
  <div class="table-filters-right">
    <form [formGroup]="filtersBind" class="b-form">
      <tui-select
        tuiTextfieldSize="m"
        class="tui-space_vertical-4"
        formControlName="status"
        [tuiTextfieldLabelOutside]="true"
      >
        Статусы
        <input tuiTextfield placeholder="Выберите статус" />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="statuses"
        ></tui-data-list-wrapper>
      </tui-select>
      &nbsp;
      <tui-select
        tuiTextfieldSize="m"
        class="tui-space_vertical-4"
        formControlName="type"
        [tuiTextfieldLabelOutside]="true"
      >
        Типы
        <input tuiTextfield placeholder="Выберите тип" />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="types"
        ></tui-data-list-wrapper>
      </tui-select>
    </form>
  </div>
  <!-- Тестовая кнопка вызова модального окна -->
  <!-- <button
    tuiButton
    type="button"
    size="m"
    (click)="showDialog();"
  >
    Тест
  </button> -->
</div>

<ng-template
    #template
    let-observer
>
    <p>You can show a dialog with template</p>
    <p>
        Your balance:
    </p>
    <button
        tuiButton
        type="button"
        size="m"
        class="tui-space_right-3"
    >
        Withdraw&nbsp;
    </button>
    <button
        tuiButton
        type="button"
        size="m"
        (click)="observer.complete()"
    >
        Cancel
    </button>
</ng-template>
