.table-filters_container {
    margin: 0 2rem;
    padding: 0.5rem 2rem;
    background-color: #fff;
    border-radius: 16px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.table-filters-right {
    display: flex;
}
