<div class="table-filters_container">
    <div class="table-filters-left">

        <form class="b-form">
            <tui-select
                tuiTextfieldSize="m"
                class="tui-space_vertical-4"
                [formControl]="testValue"
                [tuiTextfieldLabelOutside]="true"
            >
                Аккаунты
                <input
                    tuiTextfield
                    placeholder="Выберите аккаунт"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-select>
        </form>


    </div>
    <div class="table-filters-right">
        <form class="b-form">
            <tui-select
                tuiTextfieldSize="m"
                class="tui-space_vertical-4"
                [formControl]="testValue"
                [tuiTextfieldLabelOutside]="true"
            >
                Статусы
                <input
                    tuiTextfield
                    placeholder="Выберите статус"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-select>
            &nbsp;
            <tui-select
                tuiTextfieldSize="m"
                class="tui-space_vertical-4"
                [formControl]="testValue"
                [tuiTextfieldLabelOutside]="true"
            >
                Типы
                <input
                    tuiTextfield
                    placeholder="Выберите тип"
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="items"
                ></tui-data-list-wrapper>
            </tui-select>
        </form>
    </div>
</div>