.table_container {
  background-color: #fff;
  border-radius: 16px;
  width: auto;
  overflow: auto;
}

.table_wrapper {
  padding: 0.5rem 0;
}

.table {
  border-collapse: separate;
  width: 100%;
}

.table thead tr th {
  text-align: center;
}

.table tbody tr {
  height: 100px;
}

.table tbody td,
.table tbody tui-td {
  padding: 1rem 0.3rem;
}

tbody,
th,
td {
  border-color: transparent;
}

th {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 0.5rem;
}

tr td {
  border-bottom: 1px solid #d1d1d1;
}

td {
  margin: 0.5rem 0 0.5rem 0;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
}

.autoAnswer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column:nth-child(1) {
  width: 10%;
}

.column:nth-child(2) {
  width: 35%;
}

.column:nth-child(3) {
  width: 55%;
}

.custom-textarea {
  margin: 0 0.5rem;
  width: 50%;
  height: 120px;
  resize: none;
  border-radius: 5px;
  border-color: #cccccc;
  padding: 0.3rem 0.6rem;
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

@media only screen and (max-width: 768px) {
  .table_container {
    margin: 0;
    padding: 0.5rem;
    max-height: none;
    margin-top: 1rem;
  }

  .column:nth-child(1) {
    min-width: 135px;
  }

  .column:nth-child(2) {
    min-width: 465px;
  }

  .column:nth-child(3) {
    min-width: 565px;
  }

  .table_wrapper {
    width: 100%;
    overflow: scroll;
  }
}
