<div class="answers">
  <div class="content_container">
    <div class="list_container">
      <div class="main_container">
        <h1 class="head">Инструкция по подключению сервиса</h1>
        <h2 class="subhead">
          Уважаемый пользователь, чтобы начать работу с автоматическим
          управлением рекламной кампанией, необходимо установить специальное
          расширение
        </h2>
        <ol>
          <li>
            1. Скачать расширение по ссылке
            <a href="https://disk.yandex.ru/d/_ucRGaN7LsHHbQ">
              https://drive.google.com/file/d/1NacidwPZ2aGsfIWxyZEASMuvz1SU_loF/view?usp=share_link
            </a>
            <br />
            Распаковать расширение.
          </li>
          <li>
            2. Перейти в Google Chrome - три точки наверху справа -
            дополнительные инструменты - расширения.
          </li>
          <li>
            3. В левом верхнем углу жмем "загрузить распакованное расширение".
            Выбрать папку с нашим расширением, добавить его в Google Chrome.
          </li>
          <li>
            4. У вас должен быть выполнен вход в аккаунт на Wildberries.ru и на
            Seller.wildberries.ru
          </li>
          <li>
            5.
            <a href="https://cmp.wildberries.ru/campaigns/list/all">
              https://cmp.wildberries.ru/campaigns/list/all
            </a>
            - переходим в раздел "онлайн реклама". Для корректной работы
            расширения у нас должна быть создана хотя бы одна рекламная
            кампания.
          </li>
          <li>
            6. Далее в MpTool переходим в раздел "Управление рекламной
            кампанией" и жмем "загрузить из WB" - ждем 5 минут и все наши
            рекламные кампании отражаются на сайте, где мы можем настраивать их
            автоматическое управление.
          </li>
        </ol>
      </div>
      <div class="video_container">
        <h2 class="tutorial">Обучающее видео</h2>
        <div class="buttons_container">
          <video controls src="../../../assets/video/tutorial.mp4"></video>
        </div>
      </div>
    </div>
  </div>
  <button
    onclick="document.location='https://t.me/annamptool_support'"
    tuiButton
    type="button"
    appearance="primary"
    class="task_button"
  >
    Остались вопросы? Напишите нам
  </button>
</div>
