.answers {
  width: 94%;
  background-color: #fff;
  margin: 0 2rem;
  border-radius: 16px;
  max-height: 87vh;
  overflow-y: scroll;
  font-family: roboto;
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  margin: auto;
  padding: 1rem 0.5rem 2rem 2rem;
}
.content_container {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.head {
  height: 33px;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  color: #2c7a77;
}
.subhead {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.main_termins {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.buttons_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 1rem;
}
a {
  text-decoration: none;
}
li {
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}
.task_button .t-wrapper {
  background-color: #2c7a77 !important;
  color: #fff !important;
}
.task_button {
  margin-top: 5%;
}
.tutorial {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #2c7a77;
}

video {
  width: 40rem;
  height: 386px;
  background: #000000;
  border-radius: 10px;
}
.list_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_container {
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  .answers {
    width: auto;
    padding: 1rem 0 2rem 1rem;
    overflow-x: hidden;
  }
  .content_container {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .head {
    width: auto;
    height: auto;
    font-size: 20px;
  }
  .subhead {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #000000;
  }
  .buttons_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  a {
    text-decoration: none;
  }
  ol {
    width: 100%;
  }
  li {
    padding-bottom: 0;
    font-size: 12px;
  }
  .task_button .t-wrapper {
    background-color: #2c7a77 !important;
    color: #fff !important;
  }
  .task_button {
    margin-top: 5%;
  }
  .tutorial {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #2c7a77;
  }

  .list_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main_container {
    max-width: 50%;
  }
  .video_container video {
    width: 86%;
    height: auto;
    margin-right: 3.5rem;
  }
  .main_container {
    max-width: 82%;
  }
}
