<div class="wrapper">
  <h1>
    Для управления рекламными кампаниями необходимо установить API ключ
    Wildberries
  </h1>
  <span>
    Вы так-же можете посмотреть нашу видеоинструкцию по установке API ключа
  </span>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/WGtFxnLJsJI"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <button
    tuiButton
    type="button"
    appearance="accent"
    class="tui-space_right-3 tui-space_bottom-3"
    (click)="goInstallApi()"
  >
    Перейти к установке API ключа
  </button>
</div>
