<div class="card_content" *ngFor="let item of data; index as i">
  <div class="ransom_card_table" *ngIf="!appService.isMobile">
    <!--Десктопная версия-->
    <div class="table_header">
      <div class="table-header-col1">
        <div class="ransom_number">
          Выкуп № {{ item.buyID }}
          <p class="pay_status">{{ item.taskState }}</p>
          <p class="date_create">
            Дата создания: {{ item.timeCreated * 1000 | date }}
          </p>
        </div>
      </div>

      <div class="table-header-col1" style="column-gap: 1rem">
        <button
          *ngIf="shouldShowTrackingButton(item)"
          tuiButton
          (click)="showDialogTracking(template_tracking, item.trackingStatusV2)"
          type="button"
          style="margin-left: 50%"
          size="s"
        >
          Отследить свою доставку
        </button>
        <button
          *ngIf="
            shouldShowTrackingButton(item) ||
            item.taskState === 'Товар готов к выдаче'
          "
          tuiButton
          (click)="reloadRansomStatus(item.buyID)"
          type="button"
          [style.margin-left]="shouldShowTrackingButton(item) ? '' : '50%'"
          size="s"
        >
          Обновить статус
        </button>
      </div>

      <div
        *ngIf="
          item.deliveryState === 'не оплачен' && item.taskState != 'Отменено';
          else deliveryBlock
        "
        class="table_buttons"
      >
        <!-- [disabled]="!!item.checkState" -->
        <button
          *ngIf="item.taskState != 'Не получен на ПВЗ'"
          tuiButton
          (click)="showDialog(template)"
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
          size="s"
        >
          Отменить
        </button>

        <ng-template #template let-observer>
          <p i18n class="modal_header">ВЫ УВЕРЕНЫ?</p>
          <p class="modal_middle">
            Вы действительно хотите отменить данную задачу?
          </p>
          <div class="button_container">
            <button
              class="cancel"
              tuiButton
              appearance="secondary"
              type="button"
              size="m"
              (click)="observer.complete()"
            >
              Нет
            </button>
            <button
              tuiButton
              type="button"
              size="m"
              class="pay"
              (click)="cancelTask(item.buyID)"
            >
              Да&nbsp;
            </button>
          </div>
        </ng-template>

        <ng-container *ngIf="item.taskState !== 'Ошибка'">
          <button
            tuiButton
            (click)="checkPayment(i, item.buyID)"
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            size="s"
          >
            Я оплатил
          </button>

          <button
            *ngIf="item.taskState === 'Товар доставляется'"
            tuiButton
            (click)="showDialog(template_tracking)"
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            size="s"
          >
            Отследить свою доставку
          </button>

          <button
            *ngIf="
              shouldShowTrackingButton(item) ||
              item.taskState === 'Товар готов к выдаче'
            "
            tuiButton
            (click)="reloadRansomStatus(item.buyID)"
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            size="s"
          >
            Обновить статус
          </button>

          <button
            *ngIf="item.paymentState === 'initial'; else paymentQR"
            tuiButton
            (click)="requestQR(i, item.buyID)"
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            size="s"
          >
            Получить код для оплаты
          </button>

          <div class="qr_search">
            <ng-template #paymentQR>
              <span *ngIf="item.paymentState === 'wait'" class="bot_search">
                {{ item.searchState }}
              </span>
              <button
                [showLoader]="item.paymentState === 'wait'"
                tuiButton
                (click)="showQR(qrModal, item.paymentQR!)"
                type="button"
                [disabled]="item.paymentState === 'wait'"
                class="tui-space_right-3 tui-space_bottom-3"
                [icon]=""
                size="s"
              >
                <img src="../../../assets/icons/qr_template.svg" />
              </button>
            </ng-template>
          </div>
        </ng-container>

        <!--    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" [icon]="
                    " size="s"> Вопросы по оплате
                        </button> -->
      </div>

      <ng-template #deliveryBlock>
        <div
          class="delivery-block"
          *ngIf="
            item.deliveryState != 'Отменено' && item.deliveryState != 'Ошибка'
          "
        >
          <button
            *ngIf="item.deliveryQR.length > 0"
            tuiButton
            (click)="
              showDeliveryQR(qrDeliveryModal, item.deliveryQR!, item.address)
            "
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            [icon]=""
            size="s"
          >
            Код-доставки
            <img src="../../../assets/icons/qr_template.svg" />
          </button>
          <div
            style="margin-right: 1rem"
            *ngIf="item.deliveryState === 'готов к выдаче' && item.customerCode"
          ></div>
        </div>
      </ng-template>
    </div>

    <div class="table_footer">
      <div
        class="photo_placeholder"
        [style.background-image]="'url(' + item.imgLink + ')'"
      ></div>
      <div class="article" (click)="appService.goToWBCard(item.sku)">
        Арт. {{ item.sku }}
      </div>
      <div class="ransom_description">{{ item.name }}</div>
      <div class="ransom_query">{{ item.query }}</div>
      <div class="cost">{{ item.price }} ₽</div>
    </div>
    <div class="expanded">
      <div class="recipient">
        <h5>Получатель:</h5>
        <h6>{{ item.customerName }}</h6>
      </div>
      <div class="phone">
        <h5>Телефон:</h5>
        <h6>{{ item.customerPhone }}</h6>
      </div>
      <div class="address">
        <h5>Адрес:</h5>
        <h6>{{ item.address }}</h6>
      </div>
      <div class="code">
        <h5>Код получения:</h5>
        <h6>{{ item.customerCode }}</h6>
      </div>
    </div>
  </div>

  <div class="mobile_table" *ngIf="appService.isMobile">
    <!--Мобильная версия-->
    <div class="mobile_header">
      <div class="table-header-col1">
        <div class="ransom_number">
          Выкуп № {{ item.buyID }}
          <p class="pay_status">{{ item.taskState }}</p>
          <div class="tracking">
            <!--Трекинг-->
  
            <button
              *ngIf="item.taskState === 'Товар доставляется'"
              tuiButton
              (click)="
                showDialogTracking(template_tracking, item.trackingStatusV2)
              "
              type="button"
              class="tracking_button"
              size="s"
            >
              Отследить свою доставку
            </button>
  
            <button
              *ngIf="
                item.taskState === 'Товар готов к выдаче' ||
                item.taskState === 'Товар доставляется'
              "
              tuiButton
              (click)="reloadRansomStatus(item.buyID)"
              type="button"
              class="tracking_button"
              size="s"
            >
              Обновить статус
            </button>
            <div class="delivery_mobile" *ngIf="
            item.deliveryState === 'не оплачен' && item.taskState != 'Отменено';
            else deliveryBlock
          "></div>
            <ng-template #deliveryBlock>
              <div
                class="delivery-block"
                *ngIf="
                  item.deliveryState != 'Отменено' && item.deliveryState != 'Ошибка'
                "
              >
                <button
                  *ngIf="item.deliveryQR.length > 0"
                  tuiButton
                  (click)="
                    showDeliveryQR(qrDeliveryModal, item.deliveryQR!, item.address)
                  "
                  type="button"
                  class="tui-space_right-3 tui-space_bottom-3"
                  [icon]=""
                  size="s"
                >
                  Код-доставки
                  <img src="../../../assets/icons/qr_template.svg" />
                </button>
                <div
                  style="margin-right: 1rem"
                  *ngIf="item.deliveryState === 'готов к выдаче' && item.customerCode"
                ></div>
              </div>
            </ng-template>
          </div>
          <p class="date_create">
            Дата создания: {{ item.timeCreated * 1000 | date }}
          </p>
          <span *ngIf="item.paymentState === 'wait'" class="bot_search">
            {{ item.searchState }}
          </span>
          <div class="article" (click)="appService.goToWBCard(item.sku)">
            Арт. {{ item.sku }}
          </div>
          <div class="ransom_description">{{ item.name }}</div>
          <div class="ransom_query">{{ item.query }}</div>
          <div class="cost">Стоимость: {{ item.price }} ₽</div>
          <p class="mobile_data">
            Получатель:
            <span>{{ item.customerName }}</span>
          </p>
          <p class="mobile_data">
            Телефон:
            <span>{{ item.customerPhone }}</span>
          </p>
          <p class="mobile_data">
            Адрес:
            <span>{{ item.address }}</span>
          </p>
          <p class="mobile_data">
            Код получения:
            <span>{{ item.customerCode }}</span>
          </p>
          <!-- <div class="recipient">
                            <h5>Получатель:</h5>
                            <h6>{{item.customerName}}</h6>
                        </div>
                        <div class="phone">
                            <h5>Телефон:</h5>
                            <h6>{{item.customerPhone}}</h6>
                        </div>
                        <div class="address">
                            <h5>Адрес:</h5>
                            <h6>{{item.address}}</h6>
                        </div>
                        <div class="code">
                            <h5>Код получения:</h5>
                            <h6>{{item.customerCode}}</h6>
                        </div>-->
        </div>
      </div>
    </div>
    <!-- это для мобилок -->
    <div class="buttons_container">
      <div
      *ngIf="
      item.deliveryState === 'не оплачен' && item.taskState != 'Отменено';"
        class="table_buttons"
      >
        <!-- [disabled]="!!item.checkState" -->
        <button
          tuiButton
          (click)="showDialog(template)"
          type="button"
          class="mobile_cancel"
          size="m"
        >
          Отменить
        </button>
        <ng-template #template let-observer>
          <p i18n class="modal_header">ВЫ УВЕРЕНЫ?</p>
          <p class="modal_middle">
            Вы действительно хотите отменить данную задачу?
          </p>
          <div class="button_container">
            <button
              class="cancel"
              tuiButton
              appearance="secondary"
              type="button"
              size="m"
              (click)="observer.complete()"
            >
              Нет
            </button>
            <button
              tuiButton
              type="button"
              size="m"
              class="pay"
              (click)="cancelTask(item.buyID)"
            >
              Да&nbsp;
            </button>
          </div>
        </ng-template>
        <ng-container *ngIf="item.taskState !== 'Ошибка'">
          <button
            tuiButton
            (click)="checkPayment(i, item.buyID)"
            type="button"
            class="mobile_check_payment"
            size="m"
          >
            Я оплатил
          </button>
          <button
            *ngIf="item.paymentState === 'initial'; else paymentQR"
            tuiButton
            (click)="requestQR(i, item.buyID)"
            type="button"
            class="mobile_get_qr"
            size="m"
          >
            Получить код для оплаты
          </button>
          <div class="qr_search">
            <ng-template #paymentQR>
              <button
                [showLoader]="item.paymentState === 'wait'"
                tuiButton
                (click)="showQR(qrModal, item.paymentQR!)"
                type="button"
                [disabled]="item.paymentState === 'wait'"
                class="mobile_qr_button"
                [icon]=""
                size="m"
              >
                <img src="../../../assets/icons/qr_template.svg" />
              </button>
            </ng-template>
          </div>
        </ng-container>
        <!--    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" [icon]="
                    " size="s"> Вопросы по оплате
                </button> -->
      </div>
    </div>
  </div>
</div>

<ng-template #qrModal let-observer>
  <p>QR-код для оплаты вашего выкупа по СБП</p>
  <img class="sbp_icon" src="../../../assets/img/sbp.png" />
  <div class="payment-qr" [innerHTML]="paymentQRsvg | safe"></div>
  <button tuiButton type="button" size="m" (click)="observer.complete()">
    Закрыть
  </button>
</ng-template>

<ng-template #qrDeliveryModal let-observer>
  <p>QR-код для получения вашего заказа в пункте выдачи</p>
  <p>Адрес выдачи: {{ address }}</p>
  <img
    [src]="deliveryQRsvg"
    class="payment-qr"
    alt="qr_code"
    style="width: 240px"
  />
  <br />
  <button tuiButton type="button" size="m" (click)="observer.complete()">
    Закрыть
  </button>
</ng-template>

<ng-template #template_tracking let-observer>
  <div class="tracking_modal">
    <h1>Статус вашего выкупа</h1>
    <div class="line"></div>

    <!-- Начало цикла -->
    <div class="statusbar">
      <div *ngFor="let stateItem of statesItem; let i = index">
        <!-- Начало вывода цикла-->
        <div class="col1">
          <div class="status">
            <div *ngIf="trackingStatusV2[i]?.dateTime; else templateName">
              <div class="circle" style="background: #2c7a77">
                <img
                  src="../../../../assets/icons/{{ stateItem.nameFile }}"
                  alt=""
                />
              </div>
            </div>

            <ng-template #templateName>
              <div class="circle">
                <img
                  src="../../../../assets/icons/{{ stateItem.nameFile }}"
                  alt=""
                />
              </div>
            </ng-template>

            <p>{{ stateItem.name }}</p>
          </div>

          <p class="date">{{ trackingStatusV2[i]?.dateTime }}</p>
        </div>

        <div class="status_line"></div>
        <div
          *ngIf="
            trackingStatusV2[i]?.externalText &&
            trackingStatusV2[i]?.externalText.length !== 0
          "
        >
          <div>
            <tui-accordion-item class="">
              Подробнее
              <ng-template tuiAccordionItemContent>
                <p
                  *ngFor="
                    let extText of trackingStatusV2[i]?.externalText;
                    let j = index
                  "
                >
                  {{ extText }}
                </p>
              </ng-template>
            </tui-accordion-item>
          </div>
        </div>

        <div class="status_line"></div>
      </div>
    </div>
  </div>
</ng-template>
