.sidenav_container {
    padding: 2rem 0.5rem 2rem 2rem;
}

.sidenav_container ul li {
    display: flex;
    align-items: center;
    color: #2C7A77;
    cursor: pointer;
}

.sidenav_container ul li img {
    margin: 0.75rem 0.5rem 0.75rem 0;
    width: 15px;
}
