<div class="table-filters_container">
    <div style="display:flex">
        <tui-input class="input positions_search-input" [tuiTextfieldCleaner]="true" [(ngModel)]="searchArticle">
            Артикул
        </tui-input>
        <tui-input class="input positions_search-input" [tuiTextfieldCleaner]="true" [(ngModel)]="searchRequest">
            Запрос
        </tui-input>
    </div>
    <button (click)="search()" tuiButton size="l" type="submit" class="tui-form__button" iconRight="tuiIconSearch">
        Поиск
    </button>
</div>