<div class="main">
  <h2>
    Cпасибо за регистрацию в MpTool - первом безопасном сервисе самовыкупов!
  </h2>

  <p>
    Для того, чтобы получить 500р на баланс для тестирования сервиса, вам
    необходимо привязать аккаунт Telegram.
  </p>
  <br />
  <p>Чтобы сделать это - скопируйте код для привязки</p>
  <br />

  <form [formGroup]="linkForm">
    <div class="account-input-row">
      <tui-input-copy class="account-input" formControlName="linkInput">
        Код
        <input tuiTextfield type="text" />
      </tui-input-copy>
    </div>
  </form>

  <br />

  <p>
    И перейдите в бота по ссылке
    <a href="https://t.me/MARKETPLACETOOL_BOT" target="blank">
      @marketplacetool_bot
    </a>
    ,
    <br />
    выберите привязать аккаунт MpTool и отправьте боту код для привязки.
  </p>
  <p>После этого привязка будет считаться успешно завершенной.</p>

  <p>В этого бота будут приходить уведомления</p>
  <br />
  <br />
  <ul>
    <li>- О смене статуса выкупа</li>
    <li>- QR код для доставки</li>
    <li>- Полезные уведомления и новости нашего сервиса.</li>
    <li>- Через бота также легко можно всегда связаться с поддержкой.</li>
  </ul>

  <p>Привязывайте бота к аккаунту и получайте 500 рублей на счет!</p>
</div>
