<div class="basket">
    <h1 class="basket_header">Корзина</h1>
    <div class="content_block">
        <div class="section_1">Артикул:
            <tui-input class="account-input" formControlName="lastName">
                Фамилия
                <input tuiTextfield type="text" />
            </tui-input>
        </div>
        <div class="section_1">Поисковый запрос:</div>
        <div class="section_1">Количество:</div>
        <div class="section_1">Период выполнения:</div>
        <div class="section_1">Стоимость:</div>
    </div>
</div>
