<div class="company_payment">
  <h1>Формирование расчётного счёта</h1>
  <p>
    Сумма к пополнению
    <tui-input class="amount-input">
      <input tuiTextfield type="number" style="border: none" />
      Сумма
    </tui-input>
  </p>
  <h2>Реквизиты компании</h2>
  <p>
    Быстрый поиск реквизитов
    <tui-input>ИНН, ОГРН, КПП, название, ФИО</tui-input>
  </p>
  <p>
    Наименование компании
    <tui-input>Например: OOO «Прогрессивные технологии»</tui-input>
  </p>
  <p>
    ИНН
    <tui-input>
      Например: 0123456789
      <input
        style="border: none; padding-top: 1.25rem"
        tuiTextfield
        type="number"
      />
    </tui-input>
  </p>
  <p>
    КПП
    <tui-input>
      Например: 123456789
      <input
        style="border: none; padding-top: 1.25rem"
        tuiTextfield
        type="number"
      />
    </tui-input>
  </p>
  <p>
    Почтовый адрес
    <tui-input>
      Например: 124533, Россия, Рязанская область, г. Рязань, ул. Ленина, 52,
      корп. 1, оф. 5
    </tui-input>
  </p>
  <p>
    Юридический адрес
    <tui-input>
      Например: 124533, Россия, Рязанская область, г. Рязань, ул. Ленина, 52,
      корп. 1, оф. 5
    </tui-input>
  </p>
  <button appearance="primary" tuiButton type="button" class="count_form">
    Сформировать счёт
  </button>
</div>
