<!-- User segmentation start -->
<script>
  var usetifulID = localStorage.getItem('users')
  window.usetifulTags = { userId : usetifulID[1].log,   
  };</script>
  <!-- User segmentation end -->
  <!-- Usetiful script start -->
              <script>
  (function (w, d, s) {
      var a = d.getElementsByTagName('head')[0];
      var r = d.createElement('script');
      r.async = 1;
      r.src = s;
      r.setAttribute('id', 'usetifulScript');
      r.dataset.token = "ff8f5b44ca52aed9b607ddfd7484bcac";
                          a.appendChild(r);
    })(window, document, "https://www.usetiful.com/dist/usetiful.js");</script>
  
  <!-- Usetiful script end -->
<tui-root>
  <router-outlet></router-outlet>
</tui-root>
