<div class="toolbar_container">
    <div class="toolbar_left">
        <tui-marker-icon
            mode="success"
            size="s"
            src="tuiIconMenuLarge"
            class="toolbar_button tui-space_right-2"
        ></tui-marker-icon>
        <img class="toolbar_logo" src="../../../../assets/img/logo.png">
    </div>
    <div class="toolbar_right">
        <div class="toolbar_priceplan">
            <span>Тариф: <strong>Free</strong></span>
        </div>
        <tui-marker-icon
            mode="success"
            size="s"
            src="tuiIconUser"
            class="toolbar_button tui-space_right-2"
        ></tui-marker-icon>
    </div>
    
</div>
