<div class="table-filters_container">
    <div style="display:flex">
        <tui-input class="input positions_search-input" [tuiTextfieldCleaner]="true" [(ngModel)]="searchRequest">
            Запрос
        </tui-input>
        <tui-input class="input positions_search-input" [tuiTextfieldCleaner]="true" [(ngModel)]="searchPosition" type="number">
            Позиция
        </tui-input>
    </div>
    <div style="display:flex">
        <button (click)="search()" tuiButton size="l" type="submit" class="tui-form__button" iconRight="tuiIconSearch">
            Поиск
        </button>
        &nbsp;&nbsp;
        <button tuiButton (click)="clear()" type="button" appearance="secondary"
            class="tui-space_right-3 tui-space_bottom-3">
            Очистить
        </button>
    </div>
</div>