<div class="table-filters_container">
  <div style="display: flex; gap: 0.5rem">
    <tui-input
      class="input positions_search-input"
      [tuiTextfieldCleaner]="true"
      [(ngModel)]="searchRequest"
      (keyup.enter)="search()"
    >
      Запрос
    </tui-input>
    <tui-input
      class="input positions_search-input"
      [tuiTextfieldCleaner]="true"
      [(ngModel)]="searchPosition"
      type="number"
    >
      Позиция
    </tui-input>
  </div>
  <div style="display: flex; gap: 0.5rem">
    <button
      (click)="search()"
      tuiButton
      size="l"
      type="submit"
      iconRight="tuiIconSearch"
    >
      Поиск
    </button>
    <button tuiButton (click)="clear()" type="button" appearance="secondary">
      Очистить
    </button>
  </div>
</div>
