<div class="token">
  <div class="wrapper">
    <h1>Добавление API ключа, для управления рекламой</h1>
    <div class="greyline"></div>
    <div class="token_header">
      <div class="header_inputs">
        <div class="" [formGroup]="apiForm">
          <h2>API ключ</h2>
          <tui-input
            tuiTextfieldSize="m"
            formControlName="apiKey"
            [tuiTextfieldLabelOutside]="true"
          ></tui-input>
          <h2>Название организации</h2>
          <tui-input
            tuiTextfieldSize="m"
            formControlName="companyName"
            [tuiTextfieldLabelOutside]="true"
          ></tui-input>
          <button
            (click)="setWbApi()"
            [disabled]="!apiForm.valid"
            tuiButton
            type="button"
            size="s"
            class="task_button"
          >
            Добавить
          </button>
          <!--<div>
                    <h2>API Key: {{ apiKey }}</h2>
                    <h2>Company Name: {{ companyName }}</h2>
                    <h2>LK ID: {{ lkID }}</h2>
                  </div>!-->
        </div>
      </div>
      <div class="header_instructions">
        <ol>
          <li>
            1. Перейти
            <a
              href="https://seller.wildberries.ru/supplier-settings/access-to-api"
            >
              https://seller.wildberries.ru/supplier-settings/access-to-api/
            </a>
          </li>
          <li>2. 2.Создать или скопировать по ссылке API ключ</li>
          <li>
            3. Вставить ключ в поле ввода и написать наименование организации
          </li>
        </ol>
      </div>
      <div class="api_table"></div>
    </div>
  </div>
</div>
