.buttons {
  width: max-content;
  display: flex;
  align-items: center;
}
svg {
  height: 3.5rem;
  cursor: pointer;
}
.tui-space_right-3 {
  margin-top: 0.5rem;
  background: #3aa981;
  color: var(--tui-primary-text);
}
