<div class="tariffs-container">
    <div class="tariffs-header">
        <h2>Тарифные планы</h2>
        <p>При выборе любого тарифа выгода от эффективного управления рекламой на маркетплейсе превысит в 10 раз
            стоимость.</p>
    </div>
    <div class="tariffs-content">
        <div class="tariffs-col tarriphs_bg_0">
            <div class="tariffs-col-header">
                <h4>Тариф Free для новичков и сомневающихся</h4>
                <div class="tariffs-circle">
                    <h5>0 ₽</h5>
                </div>
            </div>
            <ol>
                <li>1) Возможность вбить запрос и узнать, по какому ключу находится любая карточка</li>
                <li>2) Расчет графика самовыкупов для попадания на ту или иную позицию</li>
                <li>3) Отслеживание продаж по добавленному артикулу и расчет поставок исходя из текущего темпа продаж
                </li>
            </ol>
            <div class="tariffs-el-button">
                <button (click)="null" tuiButton type="button" appearance="primary"
                    class="tui-space_right-3 tui-space_bottom-3">
                    Попробовать
                </button>
            </div>
        </div>
        <div class="tariffs-col tarriphs_bg_1">
            <div class="tariffs-col-header">
                <h4>Тариф Light для небольших компаний</h4>
                <div class="tariffs-circle">
                    <h5>999 ₽</h5>
                </div>
            </div>
            <ol>
                <li>1) Управление ставками на рекламу с поправкой на реальные ставки в автоматическом режиме.</li>
                <li>2) Возможность автоматического удаления полезных ключей и добавления мусорных запросов</li>
                <li>3) Количество кампаний под управлением — 1-10</li>
                <li>4) Пробив реальных ставок на рекламу</li>
                <li>5) Возможность подключения до 2 рекламных кабинетов Wildberries</li>
                <li>6) Автоматическое обновление реальных ставок раз в 10 минут.</li>
            </ol>
            <div class="tariffs-el-button">
                <button (click)="null" tuiButton type="button" appearance="primary"
                    class="tui-space_right-3 tui-space_bottom-3">
                    Попробовать
                </button>
            </div>
        </div>
        <div class="tariffs-col tarriphs_bg_2">
            <div class="tariffs-col-header">
                <h4>Тариф Standart для активно растущего бизнеса</h4>
                <div class="tariffs-circle">
                    <h5>1999 ₽</h5>
                </div>
            </div>
            <ol>
                <li>1) Управление ставками на рекламу с поправкой на реальные ставки в автоматическом режиме.</li>
                <li>2) Возможность автоматического удаления полезных ключей и добавление мусорных запросов</li>
                <li>3) Количество кампаний под управлением — 10-25</li>
                <li>4) Пробив реальных ставок на рекламу</li>
                <li>5) Возможность подключения до 5 рекламных кабинетов Wildberries.</li>
                <li>6) Автоматическое обновление реальных ставок раз в 10 минут</li>
            </ol>
            <div class="tariffs-el-button">
                <button (click)="null" tuiButton type="button" appearance="primary"
                    class="tui-space_right-3 tui-space_bottom-3">
                    Попробовать
                </button>
            </div>
        </div>
        <div class="tariffs-col tarriphs_bg_3">
            <div class="tariffs-col-header">
                <h4>Тариф Scale для настоящих акул Wildberries</h4>
                <div class="tariffs-circle">
                    <h5>3999 ₽</h5>
                </div>
            </div>

            <ol>
                <li>1) Управление ставками на рекламу с поправкой на реальные ставки в автоматическом режиме</li>
                <li>2) Возможность автоматического удаления полезных ключей и добавления мусорных запросов</li>
                <li>3) Количество кампаний под управлением — 25 - 100</li>
                <li>4) Выделенный чат поддержки</li>
                <li>5) Неограниченное количество рекламных кабинетов wildberries</li>
                <li>6) Автоматическое обновление реальных ставок раз в 5 минут</li>
            </ol>
            <div class="tariffs-el-button">
                <button (click)="null" tuiButton type="button" appearance="primary"
                    class="tui-space_right-3 tui-space_bottom-3">
                    Попробовать
                </button>
            </div>
        </div>
    </div>
    <div class="tariffs-footer">
        <h2>Калькулятор</h2>
        <div class="tariffs-footer-content">
            <h4>Рассчитать на:</h4>
            <div class="tariffs-footer-buttons">
                <div class="tariffs-footer-button active"><strong>1 месяц</strong></div>
                <div class="tariffs-footer-button"><strong>3 месяца</strong>&nbsp;<i>-10%</i></div>
                <div class="tariffs-footer-button"><strong>4 месяца</strong>&nbsp;<i>-15%</i></div>
            </div>
        </div>
    </div>
</div>