<div class="table_container shadow(1)">
    <div class="table_header">
        <h3>Исправление оценки карточки </h3>
        <a><span>Обучающее видео</span></a>
    </div>
    <table tuiTable class="table">
        <tbody tuiTbody>
            <tr>
                <td>Оценка</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>

            </tr>
            <tr>
                <td>Количество
                    выкупов</td>
                <td>1000</td>
                <td>100</td>
                <td>200</td>
                <td>300</td>
                <td>400</td>
            </tr>
        </tbody>
    </table>

</div>