.request {
  width: 90%;
  height: 8rem;
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #2c7a77;
  padding-left: 2rem;
  padding-top: 2rem;
}
.section_right {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #1976d2;
  margin-right: 2rem;
}
.textfield {
  margin-top: 1rem;
  width: 20rem;
}
.section_mid {
  margin-right: 30rem;
}
