<body>
  <header>
    <h1>Видеоуроки</h1>
  </header>
  <div class="subheader">
    <tui-tabs tuiMobileTabs [(activeItemIndex)]="activeItemIndex">
      <button *ngFor="let item of items" tuiTab>
        {{ item.text }}
      </button>
    </tui-tabs>
    <div class="count">
      <p class="collected">
        <img src="../../assets/icons/253298.png" alt="" />
        &nbsp;
        <span *ngIf="!appService.isMobile">Выкупов получено:</span>
        0 из 4
      </p>
      <p class="collected">
        <img
          src="../../assets/icons/speaking_message_bubble_chat_icon_187802.svg"
          alt=""
        />
        &nbsp;
        <span *ngIf="!appService.isMobile">Отзывов получено:</span>
        0 из 1
      </p>
      <p class="collected">
        <img
          src="../../assets/icons/Heart-Icon-SVG-0i3jkldfd3.svg"
          style="height: 13px; margin-top: 0.3rem"
          alt=""
        />
        &nbsp;
        <span *ngIf="!appService.isMobile">Доп.услуг получено:</span>
        0 из 19
      </p>
    </div>
  </div>
  <main>
    <section class="left">
      <tui-scrollbar class="box">
        <div class="column">
          <tui-island [hoverable]="true">
            <div class="incard">
              <iframe
                width="250"
                height="200"
                src="https://www.youtube.com/embed/AkZAiGtIafE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
              <div class="videodesc">
                <h3 class="tui-island__title">Позиции</h3>
                <p class="tui-island__paragraph">
                  Что такое раздел позиций, для чего он необходим и как можно с
                  ним работать.
                </p>
                <div class="status">Не пройден</div>
              </div>
            </div>
          </tui-island>
          <tui-island [hoverable]="true">
            <div class="incard">
              <iframe
                width="250"
                height="200"
                src="https://www.youtube.com/embed/AkZAiGtIafE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
              <div class="videodesc">
                <h3 class="tui-island__title">Позиции</h3>
                <p class="tui-island__paragraph">
                  Что такое раздел позиций, для чего он необходим и как можно с
                  ним работать.
                </p>
                <div class="status">Не пройден</div>
              </div>
            </div>
          </tui-island>
          <tui-island [hoverable]="true">
            <div class="incard">
              <iframe
                width="250"
                height="200"
                src="https://www.youtube.com/embed/AkZAiGtIafE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
              <div class="videodesc">
                <h3 class="tui-island__title">Позиции</h3>
                <p class="tui-island__paragraph">
                  Что такое раздел позиций, для чего он необходим и как можно с
                  ним работать.
                </p>
                <div class="status">Не пройден</div>
              </div>
            </div>
          </tui-island>
          <tui-island [hoverable]="true">
            <div class="incard">
              <iframe
                width="250"
                height="200"
                src="https://www.youtube.com/embed/AkZAiGtIafE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
              <div class="videodesc">
                <h3 class="tui-island__title">Позиции</h3>
                <p class="tui-island__paragraph">
                  Что такое раздел позиций, для чего он необходим и как можно с
                  ним работать.
                </p>
                <div class="status">Не пройден</div>
              </div>
            </div>
          </tui-island>
          <tui-island [hoverable]="true">
            <div class="incard">
              <iframe
                width="250"
                height="200"
                src="https://www.youtube.com/embed/AkZAiGtIafE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
              <div class="videodesc">
                <h3 class="tui-island__title">Позиции</h3>
                <p class="tui-island__paragraph">
                  Что такое раздел позиций, для чего он необходим и как можно с
                  ним работать.
                </p>
                <div class="status">Не пройден</div>
              </div>
            </div>
          </tui-island>
          <tui-island [hoverable]="true">
            <div class="incard">
              <iframe
                width="250"
                height="200"
                src="https://www.youtube.com/embed/AkZAiGtIafE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
              <div class="videodesc">
                <h3 class="tui-island__title">Позиции</h3>
                <p class="tui-island__paragraph">
                  Что такое раздел позиций, для чего он необходим и как можно с
                  ним работать.
                </p>
                <div class="status">Не пройден</div>
              </div>
            </div>
          </tui-island>
        </div>
      </tui-scrollbar>
    </section>
    <section class="right">
      <div class="video_card">
        <div class="card_header">
          <h2>Позиции</h2>
          <div class="card_header_wrapper">
            <div class="indicator">1 из 15</div>
            <div class="switchers" *ngIf="!appService.isMobile">
              <button class="circle-button left">
                <span>&#8249;</span>
              </button>

              <button class="circle-button right">
                <span>&#8250;</span>
              </button>
            </div>
          </div>
        </div>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/AkZAiGtIafE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <p class="lesson_desc">
          Что такое раздел позиций, для чего он необходим и как можно с ним
          работать.
        </p>
        <button
          tuiButton
          type="button"
          appearance="primary"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          ЗАБРАТЬ 1 БОНУС | 1 ВЫКУП
        </button>
      </div>
    </section>
  </main>
</body>
