<div class="wrapper">
  <div class="refsystem">
    <div class="header_top">
      <h1 class="ref">Реферальная система</h1>
    </div>
    <div class="head_container">
      <div class="header_left">
        <div class="user">
          <tui-avatar
            [rounded]="true"
            size="l"
            text="user"
            class="tui-space_top-1"
          ></tui-avatar>
          <span class="username">
            <br />
            Пользователь
          </span>
        </div>
        <div class="balance">
          <div class="img_wrapper">
            <img
              src="../../assets/icons/free-icon-money-971075 1.svg"
              class="money_img"
              alt="balance"
            />
            <br />
            <span class="count">{{ total_sum }}руб.</span>
          </div>
          <p class="ref_balance">
            <br />
            Реф.баланс
          </p>
        </div>
        <div class="referals">
          <div>
            <img
              src="../../assets/icons/PersonAddFilled.svg"
              class="ref_img"
              alt="balance"
            />
            <br />
            <span class="count">{{ total_registrations }} человек</span>
          </div>
          <p class="ref_refrrals">Рефералы</p>
        </div>
        <div class="history_button" (click)="toggleTable()" *ngIf="!appService.isMobile">
          <img src="../../assets/icons/cil_history.svg" alt="history_button">
          <span *ngIf="!showStatusTable">История выплат</span>
          <span *ngIf="showStatusTable">Управление ссылками</span>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="main_container">
      <h2 class="ofer">
        Наш сервис предлагает вам зарабатывать вместе с нами!
        <br />
        Основные правила реферальной программы просты:
      </h2>
      <div class="rules">
        <div class="icons">
          <p>
            <img
              src="../../assets/icons/CheckFilled.svg"
              class="rule_img"
              alt="right"
            />
            <span class="rule_description">
              Вы будете получать 20% от суммы трат пользователей,
              зарегистрировавшихся
              <br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;по
              вашим реферальным ссылкам, на продление доступа и другие функции.
            </span>
          </p>
          <p>
            <img
              src="../../assets/icons/CheckFilled.svg"
              class="rule_img"
              alt="right"
            />
            <span class="rule_description">
              При условии хорошего количества оплат от вас мы можем увеличить
              ваш процент. Все условия индивидуальны и обсуждаются через
              поддержку.
            </span>
          </p>
          <p>
            <img
              src="../../assets/icons/CheckFilled.svg"
              class="rule_img"
              alt="right"
            />
            <span class="rule_description">
              Реферальный баланс полученный за привлечение пользователей в наш
              сервис, вы можете потратить на продление тарифного плана или
              вывести средства на свой счет
            </span>
          </p>
          <p>
            <img
              src="../../assets/icons/CloseFilled.svg"
              class="rule_img"
              alt="wrong"
            />
            <span class="rule_description">
              Запрещена регистрация и оплата по своим же ссылкам. За это - бан
              всех аккаунтов без выплат.
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="mobile_footer" *ngIf="appService.isMobile">
      <div class="" *ngFor="let item of links">
        <tui-island [hoverable]="true">
          <h3 class="tui-island__title">
            <a (click)="copyTextToClipboard(item.link)">{{ item.link }}</a>
          </h3>
          <div class="tui-island__paragraph">
            <ul>
              <li>Кликов: {{ item.hits }}</li>
              <li>Регистраций: {{ item.registers }}</li>
              <li>Оплат: {{ item.sum_total }}</li>
              <li>Комиссия: {{ item.referral_comission }}</li>
            </ul>
          </div>
          <button
            class="copy_mobile"
            tuiButton
            type="button"
            appearance="flat"
            size="m"
            class="tui-island__footer-button"
            (click)="copyTextToClipboard(item.link)"
          >
            <span style="color: #1a938e;">Скопировать ссылку</span>
          </button>
          <button
            tuiButton
            type="button"
            appearance="flat"
            size="m"
            class="tui-island__footer-button"
            (click)="deleteLink(item)"
          >
            <span>Удалить</span>
          </button>
        </tui-island>
      </div>
    </div>
    <div class="footer_container">
      <div class="table_content_wrapper">
        <div class="table_content" *ngIf="!appService.isMobile && !showStatusTable">
          <table
            *ngIf="links.length > 0"
            tuiTable
            class="table_content"
            style="width: 100%"
          >
            <thead>
              <th class="link_cell">Ссылка <span *ngIf="!appService.isMobile">(нажмите, чтобы скопировать)</span>:</th>
              <th>Кликов:</th>
              <th>Регистраций:</th>
              <th>Оплат:</th>
              <th>Комиссия:</th>
              <th>Удаление:</th>
            </thead>
            <tbody tuiTbody>
              <tr *ngFor="let item of links">
                <td>
                  <span
                    class="copy-link"
                    (click)="copyTextToClipboard(item.link)"
                    tuiHintPointer
                    tuiHint="нажмите, чтобы скопировать"
                  >
                    {{ item.link }}
                  </span>
                </td>
                <td>{{ item.hits }}</td>
                <td>{{ item.registers }}</td>
                <td>{{ item.sum_total }}</td>
                <td>{{ item.referral_comission }}</td>
                <td>
                  <button
                    tuiButton
                    type="button"
                    (click)="deleteLink(item)"
                    size="s"
                    appearance="secondary-destructive"
                    class="delete"
                    style="width: max-content"
                  >
                    <span>Удалить</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-container" *ngIf="links.length > 0 && !showStatusTable">
          <tui-pagination
            [length]="length"
            [index]="index"
            (indexChange)="goToPage($event)"
          ></tui-pagination>
        </div>
        <div class="table_content" *ngIf="!appService.isMobile && showStatusTable">
          <table
          *ngIf="status.length > 0"
            tuiTable
            class="table_content"
            style="width: 100%"
          >
            <thead>
              <th>Дата:</th>
              <th>Сумма:</th>
              <th>Статус:</th>
            </thead>
            <tbody tuiTbody>
              <tr>
                <td>{{time}}</td>
                <td>{{sum}}</td>
                <td>{{status}}</td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-container" *ngIf="links.length > 0 && !showStatusTable">
            <tui-pagination
              [length]="length"
              [index]="index"
              (indexChange)="goToPage($event)"
            ></tui-pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="button_container">
      <div class="footer_left">
        <button
          tuiButton
          type="button"
          style="width: 177px;"
          (click)="onCreateLinkClick()"
          appearance="primary"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          Создать ссылку
        </button>
      </div>
      <div class="right_buttons">
        <button
          tuiButton
          type="button"
          (click)="showDialog(dialog)"
          appearance="secondary"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          Перевести реферальные выплаты на карту банка
        </button>
        <button
          tuiButton
          type="button"
          (click)="onBalanceWithdrawalToWallet()"
          appearance="primary"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          Перевести реферальные выплаты на баланс
        </button>
      </div>
      <!-- <button> 
                tuiButton
                [disabled]="true"
                type="button"
                appearance="primary" class="tui-space_right-3 tui-space_bottom-3">
                Вывести средства
            </button> -->
    </div>
  </div>
</div>

<ng-template #dialog let-observer>
  <div class="modal">
    <h1>Вывод средств</h1>
    <p class="modal_description">Укажите номер карты для вывода средств</p>
    <tui-input-card [(ngModel)]="cardNumber">Номер карты</tui-input-card>
    <span class="attention"> Внимание вывод средств на счёт осуществляется в течение 1 - 3 дней.</span>
    <button
      tuiButton
      type="button"
      appearance="primary"
      class="pay_to_bank"
      (click)="onWithdrawalToCard(); observer.complete()"
    >
      Перевести реферальные выплаты на карту банка
    </button>
  </div>
</ng-template>