.wrapper{
  overflow-x: hidden;
}
.basket_header {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2c7a77;
  padding-left: 2rem;
  padding-top: 1rem;
}
.description {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 2rem;
}
.question_cost {
  color: red;
  margin-left: 2rem;
  font-size: 16px;
}
.content_block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2c7a77;
  gap: 1rem;
}
.article-input {
  width: 15rem;
}
.search-input {
  margin-top: 1rem;
  width: 25rem;
}
.amount-input {
  margin-top: 1rem;
  width: 12rem;
  margin-left: 5%;
}
.time-input {
  margin-top: 1rem;
  width: 12em;
}
.cost {
  padding-top: 2rem;
  margin-right: 1rem;
}
.task_button {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 22rem;
  color: #2c7a77;
}

.cost {
  margin-right: 10%;
}
.table_content {
  text-align: center;
  width: 100%;
  overflow-x: auto;
  margin-top: 1rem;
}

.table_content table {
  width: 100%;
  table-layout: fixed;
}

.body {
  padding: 0.5rem;
}
th {
  background: #d5ebea;
  height: 3rem;
  color: #2c7a77;
}

.table_content th,
.table_content td {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-container {
  margin-top: 1rem;
}
td {
  margin-top: 2rem;
  height: 3rem;
}
.period {
  margin-left: 1.1rem;
  margin-top: auto;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  margin-left: 0.5rem;
}
.costdesk {
  white-space: nowrap;
  margin-top: 2rem;
  margin-left: 2rem;
}
.money {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
svg {
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  width: 15px;
  height: 18px;
}
.article_block {
  width: 20rem;
}
.question_block {
  margin: 2rem;
  width: 42%;
}
.question_block h3 {
  color: #2c7a77;
}
.search-input {
  width: 20rem;
}
.sex_block {
  width: 22rem;
}
@media only screen and (max-width: 768px) {
  .basket {
    margin: 0;
    padding-right: 1rem;
    width: auto;
  }
  .question_block {
    margin: 1rem 1rem 0 1rem;
    width: 40%;
  }
  .task_button {
    width: 102%;
  }
  .field-medium {
    width: 257%;
  }
  .basket_header {
    font-size: 20px;
    padding-left: 1rem;
  }
  .description {
    font-size: 14px;
    margin-left: 1rem;
  }
  .content_block {
    flex-direction: column;
    margin: 0 1rem;
  }
  .search-input {
    width: 120%;
  }
  .sex-search-input {
    width: 110%;
  }
  .article-input,
  .search-input,
  .amount-input,
  .time-input {
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .task_button {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .costdesk {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  th {
    font-size: 14px;
  }
  td {
    margin-top: 1rem;
    height: auto;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  h3 {
    font-size: 15px;
    margin-left: 0.5rem;
  }
  svg {
    width: 12px;
    height: 16px;
  }
  .table_content {
    width: 110%;
  }
  .question_cost {
    margin-left: 1rem;
  }
  .question_cost{
    margin-left: 1rem;
  }
  .table_content table {
    width: auto;
    table-layout: auto;
  }
}
