<tui-loader [overlay]="true" [showLoader]="!data">
    <div *ngIf="data" class="card_container shadow(1)">
        <div class="card_header">
            <h3>Кампании / {{data.campaignName}}</h3>
            <tui-loader *ngIf="loading" [showLoader]="loading" [textContent]="'Синхронизация с Wildberries'"
                [size]="'s'">
                <div style="height: 100%; width: 200px"></div>
            </tui-loader>
            <div class="navigation-back" (click)="appService.goCampaigns()">
                <tui-marker-icon mode="success" size="xs" src="tuiIconArrowLeftLarge" class="tui-space_right-2">
                </tui-marker-icon>
                <span>Назад</span>
            </div>
        </div>
        <div class="card-row">
            <div class="card-row-col1">
                <form class="b-form" [formGroup]="firstForm">
                    <div class="tui-form__row tui-form__row_multi-fields">
                        <div class="tui-form__multi-field">
                            <tui-input formControlName="account">
                                Аккаунт
                                <input tuiTextfield type="text" />
                            </tui-input>
                        </div>
                        <div class="tui-form__multi-field">
                            <tui-input formControlName="id">
                                ID Кампании
                                <input tuiTextfield type="number" />
                            </tui-input>
                        </div>

                        <div class="tui-form__multi-field">
                            <tui-input formControlName="budget">
                                Бюджет
                                <input tuiTextfield type="number" />
                            </tui-input>
                        </div>
                        <div class="tui-form__multi-field">
                            <tui-input formControlName="category">
                                Категория
                                <input tuiTextfield type="text" />
                            </tui-input>
                        </div>
                        <!-- <div class="tui-form__multi-field">
                            <tui-input formControlName="delivery">
                                Срок доставки
                                <input tuiTextfield type="text" />
                            </tui-input>
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="card-row-col2">
                <svg style="cursor: pointer" (click)="data.isEnabled = !data.isEnabled" width="30" height="16"
                    viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21.8182 0H8.18182C3.66818 0 0 3.58667 0 8C0 12.4133 3.66818 16 8.18182 16H21.8182C26.3318 16 30 12.4133 30 8C30 3.58667 26.3318 0 21.8182 0ZM21.8182 13.3333H8.18182C5.16818 13.3333 2.72727 10.9467 2.72727 8C2.72727 5.05333 5.16818 2.66667 8.18182 2.66667H21.8182C24.8318 2.66667 27.2727 5.05333 27.2727 8C27.2727 10.9467 24.8318 13.3333 21.8182 13.3333Z"
                        fill="#2C7A77" />
                    <circle *ngIf="!data.isEnabled" cx="8" cy="8" r="4" fill="#2C7A77" />
                    <circle *ngIf="data.isEnabled" cx="21" cy="8" r="4" fill="#2C7A77" />
                </svg>
                <span>&nbsp;&nbsp;Выкл/Вкл</span>
            </div>
        </div>
        <div class="card-info">
            <div class="card-info-header">
                <h3>{{data.mainKeyword}}</h3>
                <a><span>Обучающее видео</span></a>
            </div>
            <div class="card-info-main" *ngIf="listBids">
                <div *ngFor="let item of listBids" class="bid_card">
                    <h3>{{item.desc}}</h3>
                    <div class="bid_card-content">
                        <div class="bid_card-col1">
                            <div class="bid_card-inputs">
                                <tui-input class="bid_card-input" [(ngModel)]="item.targetPlace"
                                    tuiHintContent="Целевое место">
                                    Целевое место
                                    <input tuiTextfield type="number" />
                                </tui-input>
                                <tui-input class="bid_card-input" [(ngModel)]="item.targetBid"
                                    [tuiValidator]="validator(item.minCPM)" tuiHintContent="Целевая ставка">
                                    Целевая ставка
                                    <input tuiTextfield type="number" />
                                </tui-input>
                                <tui-input class="bid_card-input" [(ngModel)]="item.minPlace"
                                    tuiHintContent="Максимальная ставка">
                                    Минимальная позиция
                                    <input tuiTextfield type="number" />
                                </tui-input>
                            </div>

                        </div>
                        <div *ngIf="item.allBids" class="bid_card-col2">
                            <div style="display: flex; align-items: center;">
                                <h4>Ставки конкурентов из кабинета Wildberries</h4>
                                <tui-tooltip direction="bottom-right" [content]="'some info..'"></tui-tooltip>
                            </div>
                            <tui-scrollbar class="box">
                                <div class="bid_table">
                                    <div class="bid_table-el" *ngFor="let itemBids of item.allBids.bidInfo">
                                        {{itemBids.place}}-е
                                        <strong>{{itemBids.price}} ₽</strong>
                                        (+{{itemBids.count}} ₽)
                                    </div>
                                </div>
                            </tui-scrollbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-info">
            <div class="card_toggle-container" style="margin-bottom: 1.5rem">
                <svg style="cursor: pointer" (click)="data.useOptimazer = !data.useOptimazer" width="30" height="16"
                    viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21.8182 0H8.18182C3.66818 0 0 3.58667 0 8C0 12.4133 3.66818 16 8.18182 16H21.8182C26.3318 16 30 12.4133 30 8C30 3.58667 26.3318 0 21.8182 0ZM21.8182 13.3333H8.18182C5.16818 13.3333 2.72727 10.9467 2.72727 8C2.72727 5.05333 5.16818 2.66667 8.18182 2.66667H21.8182C24.8318 2.66667 27.2727 5.05333 27.2727 8C27.2727 10.9467 24.8318 13.3333 21.8182 13.3333Z"
                        fill="#2C7A77" />
                    <circle *ngIf="!data.useOptimazer" cx="8" cy="8" r="4" fill="#2C7A77" />
                    <circle *ngIf="data.useOptimazer" cx="21" cy="8" r="4" fill="#2C7A77" />
                </svg>
                <span>&nbsp;Включить реальные ставки</span>
            </div>
            <div *ngIf="data.type === 'Поиск'" class="dynamics_bids-container" style="margin-bottom: 1.5rem">
                <div class="dynamics_bids-col1">
                    <form *ngIf="data.type === 'Поиск'" class="dynamics_bids-form">
                        <tui-combo-box tuiTextfieldSize="m" [formControl]="keywordValue"
                            [tuiTextfieldLabelOutside]="true">
                            Ключевое слово
                            <input tuiTextfield placeholder="Введите ключевое слово"
                                (keyup.enter)="applyNewKeyword($event)" />
                            <tui-data-list-wrapper *tuiDataList [items]="data.allKeywords"></tui-data-list-wrapper>
                        </tui-combo-box>
                    </form>

                    <div class="dynamics_bids-toggle"><svg style="cursor: pointer" (click)="dynamicKeywordToggle()" width="30" height="16"
                        viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.8182 0H8.18182C3.66818 0 0 3.58667 0 8C0 12.4133 3.66818 16 8.18182 16H21.8182C26.3318 16 30 12.4133 30 8C30 3.58667 26.3318 0 21.8182 0ZM21.8182 13.3333H8.18182C5.16818 13.3333 2.72727 10.9467 2.72727 8C2.72727 5.05333 5.16818 2.66667 8.18182 2.66667H21.8182C24.8318 2.66667 27.2727 5.05333 27.2727 8C27.2727 10.9467 24.8318 13.3333 21.8182 13.3333Z"
                            fill="#2C7A77" />
                        <circle *ngIf="!dynamicKeyword" cx="8" cy="8" r="4" fill="#2C7A77" />
                        <circle *ngIf="dynamicKeyword" cx="21" cy="8" r="4" fill="#2C7A77" />
                    </svg>
                    <span>&nbsp;Автоматически выбирать ставку с помощью искуственного интеллекта</span>
                </div>
                </div>
                <div class="dynamics_bids-col2">
                    <div style="display: flex; align-items: center;">
                        <h4>Ставки конкурентов по ключевому слову</h4>
                        <tui-tooltip direction="bottom-right" [content]="'some info..'"></tui-tooltip>
                    </div>
                    <tui-scrollbar class="box">
                        <div class="bid_table">
                            <div class="bid_table-el" *ngFor="let bid of keywordBids">
                                {{bid.place}}-е
                                <strong>{{bid.price}} ₽</strong>
                                (+{{bid.count}} ₽)
                            </div>
                        </div>
                    </tui-scrollbar>
                </div>
            </div>
        </div>
        <div class="tui-form__buttons" style="padding: 0 2rem 1rem 2rem; margin-top: 0">
            <button (click)="save()" tuiButton size="l" class="tui-form__button">
                Сохранить
            </button>
        </div>
        <h3 *ngIf="campaignStats" style="padding: 0 2rem; margin: 2rem 0 0 0">Статистика кампании</h3>
        <table *ngIf="campaignStats" tuiTable class="table" [columns]="columns">
            <thead>
                <tr tuiThGroup>
                    <th tuiTh>Товар</th>
                    <th tuiTh>Просмотров</th>
                    <th tuiTh>Пользователей</th>
                    <th tuiTh>Просмотров на 1 пользователя</th>
                    <th tuiTh>Кликов</th>
                    <th tuiTh>% Клика</th>
                    <th tuiTh>За клик</th>
                    <th tuiTh>В корзине</th>
                    <th tuiTh>Потрачено</th>
                    <th tuiTh>Заказов</th>
                    <th tuiTh>Конверсия</th>
                </tr>
            </thead>
            <tbody tuiTbody [data]="campaignStats">
                <tr tuiTr>
                    <td *tuiCell="'SKUName'" tuiTd>
                        {{ campaignStats.SKUName }}
                    </td>
                    <td *tuiCell="'viewCount'" tuiTd>
                        {{ campaignStats.viewCount }}
                    </td>
                    <td *tuiCell="'users'" tuiTd>
                        {{ campaignStats.users }}
                    </td>
                    <td *tuiCell="'viewsByUser'" tuiTd>
                        {{ campaignStats.viewsByUser }}
                    </td>
                    <td *tuiCell="'clicks'" tuiTd>
                        {{ campaignStats.clicks }}
                    </td>
                    <td *tuiCell="'clickPercent'" tuiTd>
                        {{ campaignStats.clickPercent }}
                    </td>
                    <td *tuiCell="'costPerClick'" tuiTd>
                        {{ campaignStats.costPerClick }}
                    </td>
                    <td *tuiCell="'addedToBasket'" tuiTd>
                        {{ campaignStats.addedToBasket }}
                    </td>
                    <td *tuiCell="'adCampainCost'" tuiTd>
                        {{ campaignStats.adCampainCost }}
                    </td>
                    <td *tuiCell="'orders'" tuiTd>
                        {{ campaignStats.orders }}
                    </td>
                    <td *tuiCell="'conversionRate'" tuiTd>
                        {{ campaignStats.conversionRate }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</tui-loader>