.card_container {
    background-color: #fff;
    margin: 0 2rem;
    border-radius: 16px;
}

.card_header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.navigation-back {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.card-row {
    display: flex;
    padding: 2rem 2rem;
    background: #eaf9f8;
}

.card-row-col1 {
    width: calc(100% - 100px);
}

.card-row-col2 {
    width: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.card-info {
    padding: 0.5rem 2rem;
}

.card-info-main-row2 {
    padding: 2rem 0;
}

.bid_table {
    display: flex;
    flex-wrap: wrap;
}

.bid_table-el {
    margin: 0.2rem 1rem 0.2rem 0;
    width: 120px;
}

.card-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info-header a span {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.card_toggle-container {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
}

.table {
    padding: 2rem;
}

.progress {
    width: 50%;
}

.box {
    width: 28rem;
    height: 8rem;
    border: 1px solid #d6edec;
    padding: 0.25rem;
}
 
.line {
    padding: 0 0.6875rem;
    white-space: nowrap;
}